.header {
  height: 100vh;
  position: relative;
  z-index: 5;
}

.header-video-bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.header-nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid rgba(#fff, 0.3);
}

.header-burger-input {
  display: none;
}

.header-burger-label {
  display: none;
  width: 25px;
  height: 17px;
  background: linear-gradient(180deg, #fff 0, #fff 20%, transparent 0, transparent 40%, #fff 0, #fff 60%, transparent 0, transparent 80%, #fff 0, #fff);
}

.header-burger-label:hover {
  cursor: pointer;
}

.header-menu-mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: #323232;
  height: 100vh;
  z-index: 100;
  width: 100%;
  padding-left: 20px;
  padding-top: 25px;
}

.header-menu-mobile a {
  display: block;
}

.header-menu-mobile a:hover {
  text-shadow: 2px 2px 2px #000;
}

.header-menu-mobile__close-icon {
  color: #bc996f;
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header-menu-mobile__close-icon:hover {
  cursor: pointer;
}

.header-menu-mobile--light {
  color: #f8f8f8;
}

.header-menu-mobile--light li {
  padding: 10px 0;
}

.header-menu-mobile__btn {
  color: #f8f8f8;
  padding: 25px 0 0;
  display: inline-block;
}

.header-menu-mobile--dark {
  color: #6c6c6c;
  margin-top: 30px;
}

.header-menu-mobile--dark li {
  padding: 5px 0;
}

.nav-link {
  color: #fff;
  margin: 0 20px;
}

.nav-link:hover {
  text-shadow: 2px 2px 2px #000;
}

.header-btn {
  padding: 16px 25px;
  margin-left: 60px;
}

.header-title {
  color: #fff;
  font-size: 40px;
  align-self: center;
  margin-top: 130px;
  line-height: 1.2;
}

.header-subtitle {
  color: #beb496;
  font-size: 16px;
  align-self: center;
  max-width: 360px;
  text-align: center;
  margin-top: 30px;
}

.header-quote-form {
  width: 650px;
  background: #fff;
  font-size: 0;
  border-radius: 5px;
  align-self: center;
  margin-top: 60px;
  position: relative;
}

.header-quote-form__input {
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  width: 67%;
  font-size: 16px;
  color: #000;
  padding: 18px 0;
  padding-left: 35px;
}

.header-quote-form__input-placeholder {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 18px;
  height: 20px;
}

.header-quote-form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b6b6b6;
}

.header-quote-form__input::-moz-placeholder { /* Firefox 19+ */
  color: #b6b6b6;
}

.header-quote-form__input:-ms-input-placeholder { /* IE 10+ */
  color: #b6b6b6;
}

.header-quote-form__input:-moz-placeholder { /* Firefox 18- */
  color: #b6b6b6;
}

.header-quote-form__btn {
  width: 33%;
  background-color: #aa8c67;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  padding: 18px 0;
}

.header-quote-form__btn-mobile {
  display: none;
  width: 15px;
  height: 22px;
}

.header-quote-form__btn:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px #000;
}

.header-bottom-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0;
  z-index: 1;
}

.header-bottom-left-bg {
  display: inline-block;
  height: 40px;
  width: calc(50% - 18px);
  background-color: #fff;
  z-index: 10;
  border-top-right-radius: 20px;
}

.header-bottom-notch {
  width: 36px;
  height: 56px;
  overflow: hidden;
  position: relative;
  background: 0 0;
  text-align: center;
  display: inline-block;
  z-index: 10;
}

.header-bottom-arrow {
  color: #fff;
  font-size: 24px;
}

.header-bottom-notch::after {
  position: absolute;
  content: '';
  width: 89px;
  height: 82px;
  border: 26px solid #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: -12px;
  border-top: 0;
  left: -27px;
  z-index: 10;
}

.header-bottom-right-bg {
  display: inline-block;
  height: 40px;
  width: calc(50% - 18px);
  background-color: #fff;
  z-index: 10;
  border-top-left-radius: 20px;
}

// media queries

@media (max-width: 1200px) {
  .header-title {
    font-size: calc(24px + 1vw);
  }

  .header-container {
    padding: 0;
  }

  .header-nav-box {
    padding: 30px 15px;
  }

  .header-btn {
    margin-left: 1vw;
    padding: 14px 20px;
  }

  .nav-link {
    margin: 0 1vw;
  }
}

@media (max-width: 1040px) {
  .header-btn {
    margin-left: 1vw;
    padding: 14px 15px;
    font-size: 14px;
  }

  .nav-link {
    margin: 0 0.5vw;
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .header-burger-label {
    display: block;
    position: absolute;
  }

  .header-burger-input:checked ~ .header-menu-mobile {
    display: block;
  }

  .header-site-name {
    margin-left: 50px;
  }

  .nav-link {
    display: none;
  }

  .header-quote-form {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .header-site-name {
    margin-left: 70px;
  }

  .header-btn {
    display: none;
  }

  .header-title {
    width: 90%;
    text-align: center;
  }

  .header-subtitle {
    width: 90%;
  }

  .header-quote-form__input {
    vertical-align: middle;
    width: 77%;
  }

  .header-quote-form__input-placeholder {
    top: 18px;
  }

  .header-quote-form__btn {
    font-size: 0;
    width: 23%;
  }

  .header-quote-form__btn-mobile {
    display: inline-block;
  }
}
